FormatStyle: file
HeaderFilterRegex: \.hpp$
User: user
WarningsAsErrors: '*'

Checks: >-
    -*,
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    cert-*,
    -cert-err58-cpp,
    clang-analyzer-*,
    clang-diagnostic-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    hicpp-*,
    -hicpp-special-member-functions, # NOTE(andreas): redirects to `cppcoreguidelines-special-member-functions` which has special options
    misc-*,
    modernize-*,
    -modernize-use-trailing-return-type,
    performance-*,
    -performance-unnecessary-value-param,
    portability-*,
    readability-*,
    -readability-simplify-boolean-expr,
    -readability-convert-member-functions-to-static

CheckOptions:
    - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
      value: true
    - key: hicpp-signed-bitwise.IgnorePositiveIntegerLiterals
      value: true
    - key: readability-identifier-naming.ClassCase
      value: CamelCase
    - key: readability-identifier-naming.ClassConstantCase
      value: camelBack
    - key: readability-identifier-naming.EnumCase
      value: CamelCase
    - key: readability-identifier-naming.EnumConstantCase
      value: CamelCase
    - key: readability-identifier-naming.FunctionCase
      value: CamelCase
    - key: readability-identifier-naming.GlobalConstantCase
      value: CamelCase
    - key: readability-identifier-naming.GlobalConstantPrefix
      value: the
    - key: readability-identifier-naming.IgnoreMainLikeFunctions
      value: true
    - key: readability-identifier-naming.MacroDefinitionCase
      value: UPPER_CASE
    - key: readability-identifier-naming.MemberCase
      value: camelBack
    - key: readability-identifier-naming.MethodCase
      value: CamelCase
    - key: readability-identifier-naming.NamespaceCase
      value: lower_case
    - key: readability-identifier-naming.ParameterCase
      value: CamelCase
    - key: readability-identifier-naming.ParameterPrefix
      value: a
    - key: readability-identifier-naming.PrivateMemberCase
      value: CamelCase 
    - key: readability-identifier-naming.PrivateMemberPrefix
      value: my
    - key: readability-identifier-naming.PrivateMethodPrefix
      value: Priv
    - key: readability-identifier-naming.ProtectedMemberCase
      value: CamelCase
    - key: readability-identifier-naming.ProtectedMemberPrefix
      value: my
    - key: readability-identifier-naming.StructCase # Note(andreas): clang-tidy does not differentiate between class members and struct members so all class rules also apply to structs
      value: CamelCase
    - key: readability-identifier-naming.TypeAliasCase
      value: CamelCase
    - key: readability-identifier-naming.TypedefCase
      value: CamelCase
    - key: readability-identifier-naming.UnionCase
      value: CamelCase
    - key: readability-identifier-naming.VariableCase
      value: camelBack
